[Desktop Entry]
Type=Application
Name=Curso de PJe-Calc
Comment=Foi elaborado pela Escola Judicial do TRT8 para magistrados, em novembro de 2017. Considerando que as funcionalidades do PJe-Calc utilizado nos Tribunais são as mesmas do PJe-Calc Cidadão, utilizado pelo público em geral, o material do curso foi autorizado a ser compartilhado com a sociedade.
Exec=xdg-open "https://www.trt8.jus.br/pjecalc-cidadao/curso-de-pje-calc"
Icon=/usr/share/pixmaps/Manual_do_PJe.png
Terminal=false
Categories=GNOME;GTK;Network;WebBrowser;

Keywords=PJe-Calc;pje;curso;web;internet;youtube;EJUD8;

