[Desktop Entry]
Type=Application
Name=Limpar Navegadores
Comment=Remove os dados de navegação de vários navegadores.
Exec=/usr/local/bin/limpar-navegador.sh
Icon=/usr/share/pixmaps/limpar-navegadores.svg
Terminal=false
Categories=Utility;

Keywords=limpar;navegador;navegadores;web;internet;


Actions=SoftwareRender;

[Desktop Action SoftwareRender]
Name=Software Render
Exec=SoftwareRender /usr/local/bin/limpar-navegador.sh
