[Desktop Entry]
Version=1.0
Type=Application

Name=PJe Manual
Name[ar]=
Name[bg]=
Name[bn]=
Name[ca]=
Name[cs]=
Name[da]=
Name[de]=
Name[el]=
Name[en_GB]=PJe Manual
Name[es]=Manual de PJe
Name[et]=
Name[fa]=
Name[fi]=
Name[fil]=
Name[fr]=Manuel PJe
Name[gu]=
Name[hi]=
Name[hr]=
Name[hu]=PJe kézikönyv
Name[id]=
Name[it]=Manuale PJe
Name[iw]=
Name[ja]=PJeマニュアル
Name[kn]=
Name[ko]=
Name[lt]=
Name[lv]=
Name[ml]=
Name[mr]=
Name[nl]=
Name[no]=
Name[pl]=
Name[pt]=Manual do PJe
Name[pt_BR]=Manual do PJe
Name[ro]=
Name[ru]=Руководство PJe
Name[sk]=
Name[sl]=
Name[sr]=
Name[sv]=
Name[ta]=
Name[te]=
Name[th]=
Name[tr]=
Name[uk]=Посібник PJe
Name[vi]=
Name[zh_CN]=
Name[zh_TW]=


GenericName=PJe Manual
GenericName[ar]=
GenericName[bg]=
GenericName[ca]=
GenericName[cs]=
GenericName[da]=
GenericName[de]=
GenericName[el]=
GenericName[en_GB]=PJe Manual
GenericName[es]=Manual de PJe
GenericName[et]=
GenericName[fi]=
GenericName[fr]=Manuel PJe
GenericName[gu]=
GenericName[he]=
GenericName[hi]=
GenericName[hu]=PJe kézikönyv
GenericName[it]=Manuale PJe
GenericName[ja]=PJeマニュアル
GenericName[kn]=
GenericName[ko]=
GenericName[lt]=
GenericName[lv]=
GenericName[ml]=
GenericName[mr]=
GenericName[nb]=
GenericName[nl]=
GenericName[pl]=
GenericName[pt]=Manual do PJe
GenericName[pt_BR]=Manual do PJe
GenericName[ro]=
GenericName[ru]=Руководство PJe
GenericName[sl]=
GenericName[sv]=
GenericName[ta]=
GenericName[th]=
GenericName[tr]=
GenericName[uk]=Посібник PJe
GenericName[zh_CN]=
GenericName[zh_HK]=
GenericName[zh_TW]=
GenericName[bn]=
GenericName[fil]=
GenericName[hr]=
GenericName[id]=
GenericName[or]=
GenericName[sk]=
GenericName[sr]=
GenericName[te]=
GenericName[vi]=



Comment=The PJe Manual is an informative document that guides users on the correct handling and operation of the electronic system designed for managing legal proceedings. It offers detailed instructions on how to navigate, submit documents and perform operations within the digital legal environment.
Comment[ar]=
Comment[bg]=
Comment[bn]=
Comment[ca]=
Comment[cs]=
Comment[da]=
Comment[de]=
Comment[el]=
Comment[en_GB]=The PJe Manual is an informative document that guides users on the correct handling and operation of the electronic system designed for managing legal proceedings. It offers detailed instructions on how to navigate, submit documents and perform operations within the digital legal environment.
Comment[es]=El Manual PJe es un documento informativo que orienta a los usuarios sobre el correcto manejo y funcionamiento del sistema electrónico destinado a la gestión de procedimientos judiciales. Ofrece instrucciones detalladas sobre cómo navegar, presentar documentos y realizar operaciones dentro del entorno legal digital.
Comment[et]=
Comment[fi]=
Comment[fil]=
Comment[fr]=Le manuel PJe est un document informatif qui guide les utilisateurs sur la manipulation et le fonctionnement corrects du système électronique destiné à la gestion des procédures judiciaires. Il offre des instructions détaillées sur la manière de naviguer, de présenter des documents et d’effectuer des opérations dans l’environnement juridique numérique.
Comment[gu]=
Comment[he]=
Comment[hi]=
Comment[hr]=
Comment[hu]=A PJe Kézikönyv tájékoztató jellegű dokumentum, amely eligazítja a felhasználókat a jogi eljárások lebonyolítására szolgáló elektronikus rendszer helyes kezelésében és üzemeltetésében. Részletes útmutatást ad a digitális jogi környezetben történő navigáláshoz, dokumentumok bemutatásához és műveletek végrehajtásához.
Comment[id]=
Comment[it]=Il Manuale PJe è un documento informativo che guida gli utenti alla corretta gestione e al funzionamento del sistema elettronico destinato alla gestione dei procedimenti legali. Fornisce istruzioni dettagliate su come navigare, presentare documenti ed eseguire operazioni nell'ambiente legale digitale.
Comment[ja]=PJe マニュアルは、法的手続きの管理を目的とした電子システムの正しい取り扱いと操作についてユーザーをガイドする情報文書です。デジタル法務環境内での移動、文書の提示、操作の実行方法について詳細な手順を説明します。
Comment[kn]=
Comment[ko]=
Comment[lt]=
Comment[lv]=
Comment[ml]=
Comment[mr]=
Comment[nb]=
Comment[nl]=
Comment[or]=
Comment[pl]=
Comment[pt]=O Manual do PJe é um documento informativo que orienta os utilizadores sobre o correto manuseamento e funcionamento do sistema eletrónico destinado à gestão de processos judiciais. Oferece instruções detalhadas sobre como navegar, apresentar documentos e realizar operações dentro do ambiente digital jurídico.
Comment[pt_BR]=O Manual do PJe é um documento informativo que orienta usuários sobre o correto manuseio e funcionamento do sistema eletrônico destinado à gestão de processos judiciais. Ele oferece instruções detalhadas sobre como navegar, apresentar documentos e realizar operações dentro do ambiente digital jurídico.
Comment[ro]=
Comment[ru]=Руководство PJe — это информационный документ, который помогает пользователям правильно обращаться с электронной системой, предназначенной для управления судебными разбирательствами, и использовать ее. Он содержит подробные инструкции о том, как ориентироваться, представлять документы и выполнять операции в цифровой правовой среде.
Comment[sk]=
Comment[sl]=
Comment[sr]=
Comment[sv]=
Comment[ta]=
Comment[te]=
Comment[th]=
Comment[tr]=
Comment[uk]=Посібник PJe є інформаційним документом, який направляє користувачів щодо правильного поводження та експлуатації електронної системи, призначеної для управління судовими процесами. Він пропонує докладні інструкції щодо навігації, представлення документів і виконання операцій у цифровому правовому середовищі.
Comment[vi]=
Comment[zh_CN]=
Comment[zh_HK]=
Comment[zh_TW]=


Exec=xdg-open "https://pje.csjt.jus.br/manual/index.php/PJE-Calc"
Icon=/usr/share/pixmaps/Manual_do_PJe.png
Path=
Categories=GNOME;GTK;Network;WebBrowser;
Terminal=false
StartupNotify=false


# Palavras-chave para encontrar a aplicação. Deve  ser separada por ;


Keywords=manual;PJeCalc;document;processes;PJe;doc;legal;calculations;labor;
Keywords[pt_PT]=manual;PJeCalc;documento;processos;PJe;doc;juridico;calculos;laboral;
Keywords[pt_BR]=manual;PJeCalc;documento;processos;PJe;doc;juridico;calculos;trabalhista;
Keywords[ar]=;;;;;
Keywords[ast]=;;;;;
Keywords[be]=;;;;;
Keywords[bg]=;;;;;
Keywords[ca@valencia]=;;;;;
Keywords[ca]=;;;;;
Keywords[cs]=;;;;;
Keywords[da]=;;;;;
Keywords[de]=;;;;;
Keywords[el]=;;;;;
Keywords[en_GB]=manual;PJeCalc;document;processes;PJe;doc;legal;calculations;labor;
Keywords[eo]=;;;;;
Keywords[es]=manual;PJeCalc;documento;procesos;PJe;doc;legal;cálculos;mano de obra;
Keywords[eu]=;;;;;
Keywords[fa]=;;;;;
Keywords[fi]=;;;;;
Keywords[fr]=manuel;PJeCalc;document;processus;PJe;doc;légal;calculs;travail;
Keywords[gl]=;;;;;
Keywords[hr]=;;;;;
Keywords[hu]=kézikönyv;PJeCalc;dokumentum;folyamatok;PJe;doc;jogi;számítások;munkaerő;
Keywords[is]=;;;;;
Keywords[it]=manuale;PJeCalc;documento;processi;PJe;doc;legale;calcoli;lavoro;
Keywords[ja]=マニュアル;PJeCalc;ドキュメント;プロセス;PJe;ドキュメント;法的;計算;労働;
Keywords[ka]=;;;;;
Keywords[lt]=;;;;;
Keywords[lv]=;;;;;
Keywords[mr]=;;;;;
Keywords[nl]=;;;;;
Keywords[nn]=;;;;;
Keywords[pl]=;;;;;
Keywords[ro]=;;;;;
Keywords[ru]=руководство;PJeCalc;документ;процессы;PJe;doc;юридические;расчеты;труд;
Keywords[sk]=;;;;;
Keywords[sl]=;;;;;
Keywords[sr@latin]=;;;;;
Keywords[sr]=;;;;;
Keywords[sv]=;;;;;
Keywords[tr]=;;;;;
Keywords[uk]=посібник;PJeCalc;документ;процеси;PJe;doc;юридичні;розрахунки;праця;
Keywords[vi]=;;;;;
Keywords[zh_CN]=;;;;;
Keywords[zh_TW]=;;;;;

# Funcionou no  menu do xfce4-popup-whiskermenu do XFCE


Actions=SoftwareRender;

[Desktop Action SoftwareRender]
Name=Software Render
Exec=SoftwareRender xdg-open "https://pje.csjt.jus.br/manual/index.php/PJE-Calc"
