[Desktop Entry]
Version=1.0
Type=Application

Name=Install or remove PjeCalc
Name[ar]=
Name[bg]=
Name[bn]=
Name[ca]=
Name[cs]=
Name[da]=
Name[de]=
Name[el]=
Name[en_GB]=Install or remove PjeCalc
Name[es]=
Name[et]=
Name[fa]=
Name[fi]=
Name[fil]=
Name[fr]=
Name[gu]=
Name[hi]=
Name[hr]=
Name[hu]=
Name[id]=
Name[it]=
Name[iw]=
Name[ja]=
Name[kn]=
Name[ko]=
Name[lt]=
Name[lv]=
Name[ml]=
Name[mr]=
Name[nl]=
Name[no]=
Name[pl]=
Name[pt]=Instalar ou remover o PjeCalc
Name[pt_BR]=Instalar ou remover o PjeCalc
Name[ro]=
Name[ru]=
Name[sk]=
Name[sl]=
Name[sr]=
Name[sv]=
Name[ta]=
Name[te]=
Name[th]=
Name[tr]=
Name[uk]=
Name[vi]=
Name[zh_CN]=
Name[zh_TW]=


GenericName=Install or remove PjeCalc
GenericName[ar]=
GenericName[bg]=
GenericName[ca]=
GenericName[cs]=
GenericName[da]=
GenericName[de]=
GenericName[el]=
GenericName[en_GB]=Install or remove PjeCalc
GenericName[es]=
GenericName[et]=
GenericName[fi]=
GenericName[fr]=
GenericName[gu]=
GenericName[he]=
GenericName[hi]=
GenericName[hu]=
GenericName[it]=
GenericName[ja]=
GenericName[kn]=
GenericName[ko]=
GenericName[lt]=
GenericName[lv]=
GenericName[ml]=
GenericName[mr]=
GenericName[nb]=
GenericName[nl]=
GenericName[pl]=
GenericName[pt]=Instalar ou remover o PjeCalc
GenericName[pt_BR]=Instalar ou remover o PjeCalc
GenericName[ro]=
GenericName[ru]=
GenericName[sl]=
GenericName[sv]=
GenericName[ta]=
GenericName[th]=
GenericName[tr]=
GenericName[uk]=
GenericName[zh_CN]=
GenericName[zh_HK]=
GenericName[zh_TW]=
GenericName[bn]=
GenericName[fil]=
GenericName[hr]=
GenericName[id]=
GenericName[or]=
GenericName[sk]=
GenericName[sr]=
GenericName[te]=
GenericName[vi]=



Comment=This unofficial installer allows you to extract and run PjeCalc on Linux.
Comment[ar]=
Comment[bg]=
Comment[bn]=
Comment[ca]=
Comment[cs]=
Comment[da]=
Comment[de]=
Comment[el]=
Comment[en_GB]=This unofficial installer allows you to extract and run PjeCalc on Linux.
Comment[es]=Este instalador no oficial le permite extraer y ejecutar PjeCalc en Linux.
Comment[et]=
Comment[fi]=
Comment[fil]=
Comment[fr]=Ce programme d'installation non officiel vous permet d'extraire et d'exécuter PjeCalc sous Linux.
Comment[gu]=
Comment[he]=
Comment[hi]=
Comment[hr]=
Comment[hu]=Ez a nem hivatalos telepítő lehetővé teszi a PjeCalc kibontását és futtatását Linuxon.
Comment[id]=
Comment[it]=Questo programma di installazione non ufficiale consente di estrarre ed eseguire PjeCalc su Linux.
Comment[ja]=この非公式インストーラーを使用すると、Linux上でPjeCalcを抽出して実行できます。
Comment[kn]=
Comment[ko]=
Comment[lt]=
Comment[lv]=
Comment[ml]=
Comment[mr]=
Comment[nb]=
Comment[nl]=
Comment[or]=
Comment[pl]=
Comment[pt]=Este instalador não oficial permite extrair e correr o PjeCalc em Linux.
Comment[pt_BR]=Este instalador não oficial permite extrair e rodar o PjeCalc no Linux.
Comment[ro]=
Comment[ru]=Этот неофициальный установщик позволяет извлечь и запустить PjeCalc на Linux.
Comment[sk]=
Comment[sl]=
Comment[sr]=
Comment[sv]=
Comment[ta]=
Comment[te]=
Comment[th]=
Comment[tr]=
Comment[uk]=Цей неофіційний інсталятор дозволяє розпакувати та запустити PjeCalc у Linux.
Comment[vi]=
Comment[zh_CN]=
Comment[zh_HK]=
Comment[zh_TW]=




Keywords=instalador;PjeCalc;Linux;extrair;executar;correr;justiça;trabalho;download;
Keywords[pt_PT]=instalador;PjeCalc;Linux;extrair;correr;justiça;trabalho;baixar;
Keywords[pt_BR]=instalador;PjeCalc;Linux;extrair;executar;justiça;trabalhista;
Keywords[ar]=مثبّت;PjeCalc;لينكس;استخراج;تشغيل;عدالة;عمل;
Keywords[ast]=;;;;;
Keywords[be]=;;;;;
Keywords[bg]=;;;;;
Keywords[ca@valencia]=;;;;;
Keywords[ca]=;;;;;
Keywords[cs]=;;;;;
Keywords[da]=;;;;;
Keywords[de]=installer;PjeCalc;Linux;extrahieren;ausführen;gerechtigkeit;arbeit;
Keywords[el]=;;;;;
Keywords[en_GB]=installer;PjeCalc;Linux;extract;run;justice;labour;
Keywords[eo]=;;;;;
Keywords[es]=instalador;PjeCalc;Linux;extraer;ejecutar;justicia;laboral;
Keywords[eu]=;;;;;
Keywords[fa]=;;;;;
Keywords[fi]=;;;;;
Keywords[fr]=installateur;PjeCalc;Linux;extraire;exécuter;justice;travail;
Keywords[gl]=;;;;;
Keywords[hr]=;;;;;
Keywords[hu]=;;;;;
Keywords[is]=;;;;;
Keywords[it]=installatore;PjeCalc;Linux;estrarre;eseguire;giustizia;lavoro;
Keywords[ja]=インストーラー;PjeCalc;Linux;展開;実行;司法;労働;
Keywords[ka]=;;;;;
Keywords[lt]=;;;;;
Keywords[lv]=;;;;;
Keywords[mr]=;;;;;
Keywords[nl]=;;;;;
Keywords[nn]=;;;;;
Keywords[pl]=;;;;;
Keywords[ro]=;;;;;
Keywords[ru]=установщик;PjeCalc;Linux;извлечь;запустить;правосудие;труд;
Keywords[sk]=;;;;;
Keywords[sl]=;;;;;
Keywords[sr@latin]=;;;;;
Keywords[sr]=;;;;;
Keywords[sv]=;;;;;
Keywords[tr]=;;;;;
Keywords[uk]=;;;;;
Keywords[vi]=;;;;;
Keywords[zh_CN]=安装器;PjeCalc;Linux;提取;运行;司法;劳动;
Keywords[zh_TW]=;;;;;



Icon=vcs-added

# Tenta encontrar um terminal em ordem de preferência.


# O que está incluído:

# Terminal	Ambiente
# x-terminal-emulator	Debian-based fallback genérico
# gnome-terminal	GNOME
# xfce4-terminal	XFCE
# konsole	KDE / Plasma
# tilix	Tilix (independente)
# terminator	Multi-tab terminal
# alacritty	GPU-accelerated terminal
# lxterminal	LXDE
# mate-terminal	MATE
# urxvt	rxvt-unicode
# xterm	Terminal clássico / fallback universal


Exec=sh -c 'TERMINAL=$(command -v x-terminal-emulator || command -v gnome-terminal || command -v xfce4-terminal || command -v konsole || command -v xterm || command -v tilix || command -v terminator || command -v alacritty || command -v lxterminal || command -v mate-terminal || command -v urxvt); exec "$TERMINAL" -e /usr/local/bin/pjecalc-instalar-remover.sh'



# Aqui define a pasta

Path=


Categories=Office;

Terminal=false
StartupNotify=true

