#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application

Name=PjeCalc
Name[ar]=
Name[bg]=
Name[bn]=
Name[ca]=
Name[cs]=
Name[da]=
Name[de]=
Name[el]=
Name[en_GB]=PjeCalc
Name[es]=
Name[et]=
Name[fa]=
Name[fi]=
Name[fil]=
Name[fr]=
Name[gu]=
Name[hi]=
Name[hr]=
Name[hu]=
Name[id]=
Name[it]=
Name[iw]=
Name[ja]=
Name[kn]=
Name[ko]=
Name[lt]=
Name[lv]=
Name[ml]=
Name[mr]=
Name[nl]=
Name[no]=
Name[pl]=
Name[pt]=PjeCalc
Name[pt_BR]=PjeCalc
Name[ro]=
Name[ru]=
Name[sk]=
Name[sl]=
Name[sr]=
Name[sv]=
Name[ta]=
Name[te]=
Name[th]=
Name[tr]=
Name[uk]=
Name[vi]=
Name[zh_CN]=
Name[zh_TW]=


GenericName=PjeCalc
GenericName[ar]=
GenericName[bg]=
GenericName[ca]=
GenericName[cs]=
GenericName[da]=
GenericName[de]=
GenericName[el]=
GenericName[en_GB]=PjeCalc
GenericName[es]=
GenericName[et]=
GenericName[fi]=
GenericName[fr]=
GenericName[gu]=
GenericName[he]=
GenericName[hi]=
GenericName[hu]=
GenericName[it]=
GenericName[ja]=
GenericName[kn]=
GenericName[ko]=
GenericName[lt]=
GenericName[lv]=
GenericName[ml]=
GenericName[mr]=
GenericName[nb]=
GenericName[nl]=
GenericName[pl]=
GenericName[pt]=PjeCalc
GenericName[pt_BR]=PjeCalc
GenericName[ro]=
GenericName[ru]=
GenericName[sl]=
GenericName[sv]=
GenericName[ta]=
GenericName[th]=
GenericName[tr]=
GenericName[uk]=
GenericName[zh_CN]=
GenericName[zh_HK]=
GenericName[zh_TW]=
GenericName[bn]=
GenericName[fil]=
GenericName[hr]=
GenericName[id]=
GenericName[or]=
GenericName[sk]=
GenericName[sr]=
GenericName[te]=
GenericName[vi]=


Comment=PjeCalc (or PJe Calculator) is an official tool of the Brazilian Labor Court used to make labor calculations in electronic legal proceedings in the PJe (Electronic Judicial Process) system.
Comment[ar]=
Comment[bg]=
Comment[bn]=
Comment[ca]=
Comment[cs]=
Comment[da]=
Comment[de]=
Comment[el]=
Comment[en_GB]=PjeCalc (or PJe Calculator) is an official tool of the Brazilian Labor Court used to make labor calculations in electronic legal proceedings in the PJe (Electronic Judicial Process) system.
Comment[es]=PjeCalc (o Calculadora PJe) es una herramienta oficial de la Justicia del Trabajo de Brasil utilizada para realizar cálculos laborales en procedimientos judiciales electrónicos en el sistema PJe (Proceso Judicial Electrónico).
Comment[et]=
Comment[fi]=
Comment[fil]=
Comment[fr]=PjeCalc (ou PJe Calculator) est un outil officiel du tribunal du travail brésilien utilisé pour effectuer des calculs de travail dans les procédures judiciaires électroniques dans le système PJe (Electronic Judicial Process).
Comment[gu]=
Comment[he]=
Comment[hi]=
Comment[hr]=
Comment[hu]=A PjeCalc (vagy PJe Calculator) a brazil munkaügyi bíróság hivatalos eszköze, amellyel a PJe (Electronic Judicial Process) rendszerben elektronikus jogi eljárásokban munkaügyi számításokat végeznek.
Comment[id]=
Comment[it]=PjeCalc (o Calcolatrice PJe) è uno strumento ufficiale del Tribunale del Lavoro brasiliano utilizzato per effettuare calcoli del lavoro nei procedimenti legali elettronici nel sistema PJe (Processo Giudiziario Elettronico).
Comment[ja]=PjeCalc (または PJe Calculator) は、PJe (電子司法手続き) システムの電子法的手続きで労働計算を行うために使用されるブラジル労働裁判所の公式ツールです。
Comment[kn]=
Comment[ko]=
Comment[lt]=
Comment[lv]=
Comment[ml]=
Comment[mr]=
Comment[nb]=
Comment[nl]=
Comment[or]=
Comment[pl]=
Comment[pt]=PjeCalc (ou Calculadora PJe) é uma ferramenta oficial da Justiça do Trabalho brasileira utilizada para fazer cálculos laborais em processos judiciais eletrónicos no sistema PJe (Processo Judicial Eletrónico).
Comment[pt_BR]=PjeCalc (ou Calculadora PJe) é uma ferramenta oficial da Justiça do Trabalho brasileira utilizada para fazer cálculos trabalhistas em processos judiciais eletrônicos no sistema PJe (Processo Judicial Eletrônico).
Comment[ro]=
Comment[ru]=PjeCalc (или калькулятор PJe) — официальный инструмент Бразильского трудового суда, используемый для расчета трудовых затрат в электронных судебных разбирательствах в системе PJe (электронный судебный процесс).
Comment[sk]=
Comment[sl]=
Comment[sr]=
Comment[sv]=
Comment[ta]=
Comment[te]=
Comment[th]=
Comment[tr]=
Comment[uk]=PjeCalc (або PJe Calculator) — це офіційний інструмент Бразильського трудового суду, який використовується для розрахунків заробітної плати в електронних судових процесах у системі PJe (Electronic Judicial Process).
Comment[vi]=
Comment[zh_CN]=
Comment[zh_HK]=
Comment[zh_TW]=


Keywords=calculadora;trabalhista;justiça;PJe;liquidação;cálculo;PJeCalc;
Keywords[pt_PT]=calculadora;trabalho;justiça;PJe;liquidação;cálculo;PJeCalc;
Keywords[pt_BR]=calculadora;trabalhista;justiça;PJe;liquidação;cálculo;PJeCalc;
Keywords[ar]=حاسبة;قانون العمل;عدالة;PJe;تسوية;
Keywords[ast]=calculadora;trabayu;xusticia;PJe;liquidación;cálculu;
Keywords[be]=калькулятар;праца;суд;PJe;ліквідацыя;разлік;
Keywords[bg]=калкулатор;трудово право;правосъдие;PJe;ликвидация;изчисление;
Keywords[ca@valencia]=calculadora;laboral;justícia;PJe;liquidació;càlcul;
Keywords[ca]=calculadora;laboral;justícia;PJe;liquidació;càlcul;
Keywords[cs]=kalkulačka;pracovní;justice;PJe;likvidace;výpočet;
Keywords[da]=beregner;arbejdsret;retfærdighed;PJe;afvikling;beregning;
Keywords[de]=Rechner;Arbeitsrecht;Justiz;PJe;Abrechnung;Berechnung;
Keywords[el]=υπολογιστής;εργασιακό δίκαιο;δικαιοσύνη;PJe;εκκαθάριση;
Keywords[en_GB]=calculator;labour;justice;PJe;settlement;calculation;
Keywords[eo]=kalkulilo;laboro;justeco;PJe;likvido;kalkulo;
Keywords[es]=calculadora;laboral;justicia;PJe;liquidación;cálculo;
Keywords[eu]=kalkulagailu;lan;justizia;PJe;likidazioa;kalkulua;
Keywords[fa]=ماشین حساب;کار;عدالت;PJe;تسویه حساب;
Keywords[fi]=laskin;työlainsäädäntö;oikeus;PJe;selvitys;laskenta;
Keywords[fr]=calculatrice;travail;justice;PJe;liquidation;calcul;
Keywords[gl]=calculadora;laboral;xustiza;PJe;liquidación;cálculo;
Keywords[hr]=kalkulator;radno pravo;pravda;PJe;likvidacija;izračun;
Keywords[hu]=számológép;munka;jog;igazság;PJe;elszámolás;számítás;
Keywords[is]=reiknivél;vinnulög;réttlæti;PJe;uppgjör;útreikningur;
Keywords[it]=calcolatrice;lavoro;giustizia;PJe;liquidazione;calcolo;
Keywords[ja]=電卓;労働;司法;PJe;清算;計算;
Keywords[ka]=კალკულატორი;შრომა;სამართლიანობა;PJe;ლიკვიდაცია;გამოთვლა;
Keywords[lt]=skaičiuotuvas;darbas;teisingumas;PJe;likvidavimas;skaičiavimas;
Keywords[lv]=kalkulators;darbs;tiesiskums;PJe;likvidācija;aprēķins;
Keywords[mr]=कॅल्क्युलेटर;काम;न्याय;PJe;लीक्विडेशन;गणना;
Keywords[nl]=rekenmachine;arbeidsrecht;gerechtigheid;PJe;afwikkeling;berekening;
Keywords[nn]=kalkulator;arbeidsrett;rettferd;PJe;likvidering;utrekning;
Keywords[pl]=kalkulator;prawo pracy;sprawiedliwość;PJe;likwidacja;obliczenia;
Keywords[ro]=calculator;dreptul muncii;justiție;PJe;lichidare;calcul;
Keywords[ru]=калькулятор;трудовое право;правосудие;PJe;ликвидация;расчет;
Keywords[sk]=kalkulačka;práca;spravodlivosť;PJe;likvidácia;výpočet;
Keywords[sl]=kalkulator;delovno pravo;pravica;PJe;likvidacija;izračun;
Keywords[sr@latin]=kalkulator;radno pravo;pravda;PJe;likvidacija;obračun;
Keywords[sr]=калкулатор;радно право;правда;PJe;ликвидација;обрачун;
Keywords[sv]=kalkylator;arbetsrätt;rättvisa;PJe;likvidation;beräkning;
Keywords[tr]=hesap makinesi;iş hukuku;adalet;PJe;tasfiye;hesaplama;
Keywords[uk]=калькулятор;трудове право;правосуддя;PJe;ліквідація;обчислення;
Keywords[vi]=máy tính;xã hội;công lý;PJe;thanh lý;tính toán;
Keywords[zh_CN]=计算器;劳动;司法;PJe;清算;计算;
Keywords[zh_TW]=計算機;勞動;司法;PJe;清算;計算;




Icon=/usr/share/pixmaps/icone_calc.ico


Exec=/usr/local/bin/pjecalc-abrir.sh


# Ou você pode acessar direto o endereço localhost:9257/pjecalc/pages/principal.jsf e salvar ele nos favoritos do seu navegador (Firefox).

# Entretanto lembre-se que o Pje-Calc só vai rodar neste endereço quando a aplicação Java estiver rodando.

# Exec=xdg-open http://localhost:9257/pjecalc/pages/principal.jsf




# Aqui define a pasta

Path=


Categories=Office;
Terminal=false
StartupNotify=true
X-GIO-NoFuse=true

